
/* Tailwind Base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Syne", sans-serif;
}

/* Hero Section Text Effect */
.hero-deco {
    color: transparent;
    -webkit-text-stroke: 1px #fff;  
    background: url(./assets/back.webp);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

/* Navbar Styles */
nav {
    background: transparent;
    z-index: 50;
}

/* Hero Section */
.hero-section {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
    .logo-img {
        width: 170px;
        margin-left: -10px;
    }
}

.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  