
/* Tailwind Base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Syne", sans-serif;
}

/* Hero Section Text Effect */
.hero-deco {
    color: transparent;
    -webkit-text-stroke: 1px #fff;  
    background: url(./assets/back.webp);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

/* Navbar Styles */
nav {
    background: transparent;
    z-index: 50;
}

/* Hero Section */
.hero-section {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
    .logo-img {
        width: 170px;
        margin-left: -10px;
    }
}